body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .container {
    margin: 0 auto;
    max-width: 500px;
    background-color: black;
    padding: 20px;
  }
  
  h1 {
    margin-top: 0;
  }
  
  form {
    border: 1px solid white;
    padding: 20px;
    text-align: left; /* Justify labels to the left */
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  select,
  textarea { /* Include textarea styling */
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
    border: 1px solid white;
  }
  
  button[type="submit"] {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #ccc;
  }
  